streamlit==1.35.0

langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-text-splitters==0.2.2

chromadb==0.5.5
sentence-transformers==3.0.1

pypdf
python-dotenv
tqdm

google-generativeai==0.7.2
